/* CSS For WPEX Metaboxes*/
.st-metabox-table p { margin: 0; padding: 0; }
.st-metabox-table th { width: auto; }
.st-metabox-table pre { margin: 0; padding: 0; }
.st-metabox-table textarea { width: 100%; }